<!--<div id="container">

    <button *ngIf="!inicio" (click)="CargarFotos()">Iniciar Juego</button>

    <table *ngIf="inicio" style="width:500px;height:400px;text-align: center" align="center" class="tablero">

        <tr>
            <td id="cell11" class="cell"><img  style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell12" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell13" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell14" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
        </tr>
        <tr>
            <td class="cell"><img id="cell11" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell22" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell23" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell24" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
        </tr>
        <tr>
            <td class="cell"><img id="cell11" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell32" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell33" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
            <td class="cell"><img id="cell34" style="width: 100px;" src="../../../../assets/imagen/controller.ico"></td>
        </tr>

    </table>

</div>-->
<div id="container">
    <p *ngIf="this.inicio" style="color: white;" class="mensaje-p">
        Tiempo: {{this.tiempo}}
    </p>
    <div class="selector-dificultad" *ngIf="dificultad == null">
        <p class="dificultad-titulo">
            Seleccione la dificultad
        </p>

        <button class="btn btn-outline-success btnDificultad" (click)="seleccionaDificultad('facil')">
            Facil
        </button>
        <button class="btn btn-outline-danger btnDificultad" (click)="seleccionaDificultad('medio')">
            Medio
        </button>
        <br>
    </div>

    <div id="juego" *ngIf="dificultad != null">

        <div *ngFor="let carta of cartas; index as i" [class]="carta.clase" (click)="voltear(i)">
            <img [src]="carta.mostrar ? carta.path : carta.atras" class="carta-imagen"
                style="width: 150px; height: 150px;" alt="carta">
        </div>
    </div>

    
    <div *ngIf="!inicio && dificultad != null" class="resultadoBotones">
        <div class="botones" *ngIf="!inicio && dificultad != null">
            <button class="btn btn-outline-success btnEmpezar" (click)="empezarJuego()">
                {{this.btnEmpezar}}
            </button>
            <button class="btn btn-outline-primary btnScore">Ver Scores</button>
            <button class="btn btn-outline-warning btnCambiarDificultad" (click)="cambiarDificultad()">Cambiar dificultad</button>
            <button class="btn btn-outline-danger btnChat" data-toggle="modal" data-target="#modalChat">Chat</button>
    
        </div>
        <br>
        <div class="mensaje" *ngIf="mensaje && dificultad">
            <p class="mensaje-p">
                {{mensaje}}
            </p>
        </div>
    
    
        <!-- Modal Chat-->
        <div class="modal fade" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
    
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <app-chat [nombreChat]="'Chat MemoTest'" [app]="'memotest'"></app-chat>
                </div>
            </div>
        </div>
    </div>
</div>

