






#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background: rgba(3, 3, 3, 0.707);
    box-shadow: 1px 1px 50px #000;

}   

/* Heading */
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    transition: font-size 0.5s;
}

h1:hover{
    font-size: 55px;
}


.btnLogin, .btnCancel,
input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;

    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;

    background: rgba(3,3,3,.1);
    
}


.btnLogin{
    
    font-family: 'Open Sans Condensed' sans-serif;
    text-align: center;
    padding: 6px 8px;

    background-color: rgba(1, 150, 9, 0.344);
    transition: background-color 1s, font-size 0.5s;
}
  
.btnLogin:hover {
    background-color: rgba(43, 255, 0, 0.823);
    font-size: 25px;
}


.btnCancel{
    font-family: 'Open Sans Condensed' sans-serif;
    text-align: center;
    padding: 6px 8px;
    width: 60%;


    background-color: rgba(109, 55, 55, 0.296);
    transition: background-color 1s, font-size 0.5s;
}

.btnCancel:hover{
    background-color: rgba(225, 42, 29, 0.816);
    font-size: 22px;
}